button {
    height: 30px;
    background-color: blue;
    width: 60px;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: double;
}

input {
    text-align: center;

    padding: 0 0.2em;
    width: 25%;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: double;
    font-size: large;

}
body {
    background: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    border: 3px solid black;
    padding: 40px;
}